body{
    text-align: center;
    font-family: 'Gugi', cursive;
    background: linear-gradient(to right, #4a4797, #78afad);
}
div{
    border: 2px dashed #1f1bff;
    margin: 10px;
    padding: 5px 30px;
    border-radius: 15px;
    box-shadow: 10px 12px #999;
}
#principal{
    width: 50px;
    float: left;
    border-radius: 50%;
}

div.especial h3{
    font-family: "Sedan SC", serif;
    text-shadow: 10px 5px #999;
}
